{% extends 'layouts/base.html' %}
{% block content %}
<form action="/json-to-sql" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% include 'layouts/upload_file.html' %}
<div class="grid gap-6 mb-6 md:grid-cols-2">
    {% for field in form  if field.widget.input_type != 'hidden' %}
    <div>
        {% if field.type == "BooleanField" %}
        {{ field }} {{ field.label }}
        {% else %}
        {{ field.label(class_="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300") }}
        {{ field(class_="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
        focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
        dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500")}}
        {% endif %}
    </div>
    {% endfor %}
</div>
{{ form.schema.json_key }}
    <div id="schema-wrapper" class="block">
<p>hold down the ctrl (windows) or command (mac) button to select multiple options.</p>
    {% include 'layouts/schema.html' %}
    <button onclick="add_schema_field()" id="add_more" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
  <svg aria-hidden="true" class="mr-2 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>
  Add More
</button>
    </div>
    <div class="flex items-start mb-6">
        <div class="flex items-center h-5">
            <input id="remember" type="checkbox" value=""
                class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                required="">
        </div>
        <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-400">I agree with the <a
                href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a>.</label>
    </div>
</div>
  <input
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    type="submit" />
    <script src="{{url_for('static',filename='js/fields.js')}}"> </script>
</form>
{% endblock %}