<div id="schema-0" class="flex items-stretch grid gap-6 mb-6 md:grid-cols-5">
<input type="text" id="schema-0-json_key" name="schema-0-json_key" placeholder="json key" />
<input type="text" id="schema-0-col_name" name= "schema-0-col_name" placeholder="column name"/>

<div id="datatype">
<label for="datatype">datatype</label>
<select name="schema-0-data_type">
    <option value="VARCHAR">VARCHAR</option>
    <option value="TEXT">TEXT</option>
    <option value="INT">INT</option>
    <option value="FLOAT">FLOAT</option>
    <option value="BOOLEAN">BOOLEAN</option>
    <option value="DATE">DATE</option>
    <option value="DATETIME">DATETIME</option>
    <option value="TIMESTAMP">TIMESTAMP</option>
</select>
</div>
<!-- i need to add a text option to enter the max amount for some of these fields -->
<div id="constraint">
    <label for="constraint">constraint</label>
<select multiple name="schema-0-constraint">
    <option value="UNIQUE">UNIQUE</option>
    <option value="PRIMARY KEY">PRIMARY KEY</option>
    <option value="FOREIGN KEY">FOREIGN KEY</option>
    <option value="AUTO INCREMENT">AUTO INCREMENT</option>
    <option value="NOT NULL">NOT NULL</option>
</select>
</div>
</div>
